/*********************************
 * Personal-Website-Tutorial Desktop About Stylesheet
 * Jeff Schulthies
 * Updated: 2016-10-08
 *********************************/
/*********************************
 * Personal-Website-Tutorial Base Stylesheet
 * Jeff Schulthies
 * Updated: 2016-09-27
 *********************************/
/* TODO Switch to vw and vh */
/* Font Information */
/* Color Palette */
/* Variables */
/* Custom Mixins */
/******************** General Elements ********************/
*, html {
  /*
   *  Block displays makes it easier to us style elements.
   *  Every element becomes a box.
   *  https://mdn.mozillademos.org/files/13647/box-model-standard-small.png
   */
  display: block;
  font-size: 16px; }

/* Reset table displays */
table {
  display: table;
  font-family: "Not-Roman";
  font-weight: 100;
  font-size: 16px; }

tr {
  display: table-row; }

td {
  display: table-cell; }
  td:first-child {
    font-family: "Not-Roman";
    font-weight: bold;
    font-size: 16px;
    padding-right: 20px; }

script {
  display: none; }

a {
  text-decoration: none; }

/* Main Container */
body {
  font-family: "Not-Roman";
  font-weight: 100;
  font-size: 16px;
  color: #FFFFFF;
  overflow-x: hidden;
  background-color: #00C9F1;
  background-image: url("./../../images/bg.png");
  background-size: cover;
  background-position: 75% 105px, bottom;
  background-repeat: no-repeat;
  position: relative; }

/* Container for the navigation bar(navbar). */
header {
  top: 0;
  width: 100%;
  height: 50px;
  position: fixed;
  z-index: 1000;
  /* nav bar */ }
  header nav#nav-top {
    position: relative;
    float: right;
    padding-right: 10px;
    transition: .2s;
    z-index: 1000;
    background-color: #AAAAAA;
    border-radius: 5px; }
    header nav#nav-top a {
      font-family: "Not-Roman";
      font-weight: bold;
      font-size: 1.5rem;
      opacity: 1;
      float: left;
      text-decoration: none;
      color: inherit;
      padding-left: 10px;
      padding-right: 10px; }
      header nav#nav-top a:hover {
        color: #F7E154;
        transition: .2s; }

.content-container {
  padding-top: 50px;
  overflow: hidden;
  width: 100%;
  height: calc(100vh - 100px); }

/* Footer */
footer {
  position: relative;
  bottom: 0;
  height: 40px;
  width: 100%;
  margin-top: 0px;
  overflow-y: hidden; }
  footer nav#nav-bottom {
    position: absolute;
    right: 0;
    bottom: 0; }
    footer nav#nav-bottom a {
      font-family: "Not-Roman";
      font-weight: 200;
      font-size: 1rem;
      float: left;
      text-decoration: none;
      color: inherit;
      padding-left: 10px;
      padding-right: 10px; }
      footer nav#nav-bottom a:last-of-type {
        padding-right: 20px; }
      footer nav#nav-bottom a:hover {
        color: #F7E154;
        transition: .2s; }

body {
  background-color: #00C9F1;
  background-image: url("./../../images/blossoms.jpg");
  background-size: cover;
  background-position: 75% 0px, bottom;
  background-repeat: no-repeat;
  position: relative; }

div#hi-wrapper {
  padding-top: 300px; }
  div#hi-wrapper div#hi {
    font-size: 150pt;
    letter-spacing: -18px;
    font-weight: bold;
    color: #F7E154;
    text-shadow: 2px 2px 3px #444;
    line-height: 70%; }
  div#hi-wrapper div#bio {
    margin-top: 30px;
    font-size: 50;
    font-weight: bold;
    color: #F7E154;
    text-shadow: 2px 2px 3px #444;
    line-height: 70%; }

/*# sourceMappingURL=about.css.map */
