/*********************************
 * Personal-Website-Tutorial Desktop Index Stylesheet
 * Jeff Schulthies
 * Updated: 2016-09-27
 *********************************/

 @import './../partials/_base';

/* Profile Picture Style */
div#profile-picture-wrapper {

    height: calc(60vh - 50px);
    max-height: 60vh;
    position: relative;
    clear: both;
    text-align: center;
    /* Transition to Mobile Size */
    // width: 100%;

    div#profile-picture {
        max-width: 60vh;
        height: inherit;
        display: inline-block;
        img {
            text-align: center;
            margin: 0 auto;
            max-width:100%;
            max-height:100%;
            border-radius: 900px;
        }
    }
}


/* Name Container */
div#name-wrapper {
    position: relative;
    //height: 70%;
    height: calc(20vh - 20px);
    min-height: 10vh;
    max-height: 200vw;
    width: 100%;
    text-align: center;
    clear:both;
    overflow: hidden;
    /* TODO Fix font with jquery */
    div#name {
        @include font-face($normal, 5vh) ;
    }
    div#description {
        @include font-face($light, 3.5vh) ;
    }
}

/* Bio Container */
div#bio-wrapper {
    position: relative;
    //height: 70%;
    height: calc(15vh - 50px);
    min-height: 10vh;
    max-height: 200vw;
    width: 100%;
    padding-top: 20px;
    text-align: center;
    clear:both;
    overflow: hidden;
    /* TODO Fix font with jquery */
    div#bio {
        @include font-face($light, 4vh);
    }
}
